li {
    list-style-type: none;
    margin-top: 30px;
}

a{
    text-decoration: none !important;
    color:white;
}
a:hover{
    color:tomato !important;
    font-weight: 500;
    padding-left: 30px;
    transition: all 0.3s;
  
}
.menu-items{
    background-color: #011221;
    position: fixed;
    right:0;
    top:0;
    height:65vh;
    width:50%;
    border-bottom-left-radius: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.99;
}

.menu-switch {
    color: orangered;
    font-size: 35px;
    position: fixed;
    top:0;
    right:0;
    right:25px;
}

.active {
    color:cyan !important;
    border: cyan 1px solid;
    padding: 10px;
    border-radius: 5px;
}
.active:hover{
    padding:10px !important;
}

.menu-switch2 {
    color: orangered;
    font-size: 20px;
    position: fixed;
    top:0;
    right:0;
   
}